langchain
langchain_community
langchain_core
langchain_ollama
langgraph
numpy==1.26.4
elasticsearch~=8.14.0
pydantic
redis[hiredis]
redisvl
langchain-redis
langgraph-checkpoint-redis
tiktoken
PyPDF2
chroma
sentence_transformers
python-dotenv>=1.1.0
typing-extensions>=4.8.0
fastapi
ipykernel>=6.29.5 